.title{
    font-size: 4em;
}
.container{
    position:relative;
    height:400px;
    text-align:left; 
}
.slide{
   position:absolute;
   left:0px;
   top:0px;
   width:50%;
   height: 50%;
   z-index:1;
   opacity:0;
}
.active-slide{
   opacity:1;
   z-index:2;
}

.quiz{
  height: 400px;
}

.quiz-btn{
    background-color: rgb(191, 209, 169);  
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border-style: none;
}
.quiz-submit{
    background-color:rgb(191, 209, 169);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border-style: none;
}
.question{
    background-color: rgb(191, 209, 169);
    text-align: left;
    font-size: xx-large;

}
.answer{
    font-size: large;
}
.rns{
   position: absolute;
   left: 50%;
   width: 600px;
}
.quiz-result{
    background-color: rgb(173, 216, 230);
    width:30%;
    border-radius: 5px;
    text-align: center;
    font-size: 4em;
}