/*https://at-corner.tistory.com/17 - 색상표*/

.title{
    font-size: 4em;
}

.slide{
    position:fixed;
    top: 25%;
    left: 25%;
    z-index:1;
    opacity:0;
    width: 800px;
    height: 200px;
}
.active-slide{
    opacity:1;
    z-index:2;
}

.content{
    border: 3px solid #C8D7FF ;
}
.correct{
    display: none;
    background-color:#DCEBFF ;
    inline-size: 800px;
    text-align: center;
    top: 85%;
}
.buttons{
    position:fixed;
    top: 85%;
    right: 23%;
 
 }
 .buttons1{
    position:fixed;
    bottom: 5%;
    right: 5%;
 
 }
.quiz-btn{
    background-color:#C8D7FF;
    height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
.question{
    background-color: #C8D7FF;
    text-align: left;
    font-size: 1.5em;
}
.answer{
    font-size: large;    
}
.quiz-result{
    position:absolute;
    text-align: center;
    top: 25%;
    left: 30%;
}
.quiz-result h3{
    border: 3px solid #C8D7FF;
    width: 300px;
    height: 100px;  
}

#final{
    position: absolute;
    left: 20%;
    
}

.finalanswer{
    font-size: 1.7em;
}

.finalanswer label{
    position: absolute;
    right: 3%;
    width: 200px;
    height: 30px;
    background-color: #C8D7FF;
    text-align: center;
    color:#EBFBFF;
}